# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
.venv/
venv/
*.db

# Node
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
mysql_data/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
